[user]
	name = cafenero
	email = 2006yusuke@gmail.com
[push]
	default = matching
[color]
	ui = auto
[core]
	excludesfile = /Users/yusuke/.gitignore
	editor = vim
[alias]
	ci = commit
	co = checkout
	st = status
