ifttt_token
*.tar
.DS_Store
*~
places
ac-comphist.dat
.env
*.retry
TAGS
filezilla
git
gtk-2.0
automatic_backups
.markdown-preview.html
gh/
.venv
.config/configstore
.emacs.d/el-get/
.emacs.d/elpa
.emacs.d/font/
.emacs.d/.*
.emacs.d/emacs-visited-files
.emacs.d/misc/
.emacs.d/persp-confs/persp-auto-save
.emacs.d/persp-confs/
.emacs.d/transient/history.el
.emacs.d/url/cookies
.emacs.d/network-security.data
.emacs.d/tramp
.emacs.d/straight/
.emacs.d/org-persist/
.config/github-copilot/
.docker/config.json
.docker/.buildNodeID
.docker/.token_seed
.docker/.token_seed.lock
.docker/cli-plugins/
.docker/contexts/
.docker/devenvironments/
.docker/features.json
.docker/scan/
.docker/buildx/
.docker/desktop-build/
.docker/scout/
